ETCD_NAME="{{ etcd_name | default(inventory_hostname) }}"
ETCD_DATA_DIR="{{ etcd_data_dir }}"
ETCD_LISTEN_PEER_URLS="http://0.0.0.0:{{ etcd_peer_port }}"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:{{ etcd_client_port }}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ private_ip }}:{{ etcd_peer_port }}"
ETCD_INITIAL_CLUSTER="{{ etcd_initial_cluster | replace(' ', '') }}"
ETCD_INITIAL_CLUSTER_STATE="{{ etcd_initial_cluster_state }}"
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_cluster_token }}"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ private_ip }}:{{ etcd_client_port }}"
ETCD_ELECTION_TIMEOUT="{{ etcd_election_timeout }}"
ETCD_HEARTBEAT_INTERVAL="{{ etcd_heartbeat_interval }}"
